<div class="layout">
  <div class="sidebar-container" [class.collapsed]="isSidebarCollapsed">
    <button class="collapse-button" (click)="toggleSidebar()">
      <span class="material-icons">
        {{ isSidebarCollapsed ? 'chevron_right' : 'chevron_left' }}
      </span>
    </button>
    <app-sidebar-search 
      [movies]="movies" 
      [selectedMovie]="selectedMovie" 
      (movieClicked)="onMovieSelected($event)"
      (moviesFiltered)="onMoviesFiltered($event)" />
  </div>
  <app-dynamic-map 
    [movies]="filteredMovies" 
    [selectedMovie]="selectedMovie" 
    (movieSelected)="onMovieSelected($event)" />
</div>