.layout {
  display: flex;
  height: calc(100vh - 120px); // Subtract navbar and footer height
  background-color: #f8f9fa;
  gap: 1px;
  position: relative;
  overflow: hidden;
  
  app-sidebar-search {
    width: 350px;
  }
  
  app-dynamic-map {
    flex: 1;
    background-color: white;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}
