<aside class="sidebar">
  <mat-form-field appearance="outline" class="full-width">
    <input
      matInput
      [formControl]="searchControl"
      placeholder="Search movies (min. 3 chars)"
      autocomplete="off" />
  </mat-form-field>

  <ul class="movie-list">
    <li
      *ngFor="let movie of filteredMovies()"
      (click)="onClickMovie(movie)"
      [class.selected]="selectedMovie?.title === movie.title">
      <strong>{{ movie.title }}</strong><br />
      <small>{{ movie.releaseYear }} — {{ movie.locations }}</small>
    </li>
  </ul>
</aside>