.sidebar {
  display: flex;
  flex-direction: column;
  width: 430px;
  background: #f8faff;
  border-right: 1px solid #e0e0e0;
  padding: 1rem;
  height: calc(100vh - 110px);

  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }

  .movie-list {
    flex: 1;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ddd;
      font-size: 0.9rem;

      &:hover {
        cursor: pointer;
        background-color: #f0f0f0;
        transition: background-color 0.3s;
      }
    }
  }
}