<mat-form-field appearance="outline" class="full-width">
  <input
    matInput
    placeholder="Buscar película (mín. 3 caracteres)"
    [formControl]="searchControl"
    autocomplete="off" />
</mat-form-field>

<google-map
  height="500px"
  width="100%"
  [center]="mapCenter"
  [zoom]="zoom"
    [options]="mapOptions">
  <map-marker
    (mapClick)="openInfo(movie)"
    *ngFor="let movie of filteredMovies()"
    [position]="{ lat: movie.lat, lng: movie.lng }"
    [label]="movie.title"
    [title]="movie.title">
  </map-marker>
<map-info-window #infoWindow>
  <ng-container *ngIf="selectedMovie">
    <strong>{{ selectedMovie.title }}</strong><br />
    <span><b>Dirección:</b> {{ selectedMovie.location }}</span><br />
    <span><b>Año:</b> {{ selectedMovie.releaseYear }}</span><br />
    <span *ngIf="selectedMovie.director"><b>Director:</b> {{ selectedMovie.director }}</span><br />
    <span *ngIf="selectedMovie.actors?.length">
      <b>Actores:</b> {{ selectedMovie.actors.join(', ') }}
    </span><br />
    <span *ngIf="selectedMovie.studio"><b>Estudio:</b> {{ selectedMovie.studio }}</span>
  </ng-container>
</map-info-window>
</google-map>